* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
    color: #ffffff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header nav ul {
    list-style: none;
    display: flex;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
}

a:-webkit-any-link {
    text-decoration: none;
}

.sidebar {
    width: 200px;
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
    position: fixed;
}

.sidebar ul {
    list-style: none;
}

.sidebar ul li {
    padding: 5px 8px;
    border-radius: 15px;
}

.sidebar ul li.active, .sidebar ul li:hover {
    background-color: #007bff;
}

.sidebar ul li.active a, .sidebar ul li:hover a {
    color: white;
    text-decoration: none;
}

main {
    margin-left: 220px;
    padding: 20px;
}

.consultation-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    padding: 20px;
    justify-content: center;
}

.alinhamento {
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card {
    background-color: #ffd7ff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Centralize o conteúdo horizontalmente */
}

.patient-name {
    font-size: 1.25rem; /* 20px se o tamanho base for 16px */
    font-weight: bold;
    color: #333; /* Cor mais suave para o texto */
    margin-bottom: 12px;
}

.date, .doctor, .address {
    color: #666; /* Cor mais suave para o texto */
    font-size: 0.875rem; /* 14px se o tamanho base for 16px */
    margin-bottom: 10px;
}

.cancel-button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 80%;
    text-align: center;
    margin: 10px auto; /* Ajuste a margem para centralizar verticalmente e adicione espaço entre o botão e o conteúdo */
}

.cancel-button:hover {
    background-color: #0056b3;
}

footer {
    background-color: #f0f0f0;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer p {
    color: #666;
}