<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odonto</title>
    <link rel="stylesheet" href="./index.css">
    <link rel="icon" type="image/png" href="../../assets/img/logo_odonto.webp">
</head>
<body class="centralize">
    <div class="container">
        <div class="card">
            <a class="singup">Cadastro</a>

            <div class="inputBox">
                <input type="text" required="required">
                <span>Nome</span>
            </div>
            <div class="inputBox">
                <input type="text" required="required">
                <span>E-mail</span>
            </div>
            <div class="inputBox">
                <input type="password" required="required">
                <span>Senha</span>
            </div>
            <div class="confimar_senha">
                <input type="password" required="required">
                <span>Confirmar Senha</span>
            </div>

            <div class="link">
                <a href="../home/index.html"><button class="enter">Entrar</button></a>
            </div>
        </div>
    </div>
</body>
</html>