<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odonto</title>
    <link rel="stylesheet" href="../funcionalidade/index.css"">
    <link rel="icon" type="image/png" href="../../assets/img/logo_odonto.png">
</head>
<body>
    <header>
        <h1>Funcionalidades do Consultório</h1>
    </header>
    <nav>
        <ul class="menu">
            <li>
                <a href="../index.html"><img src="../../../assets/img/logo_odonto.png" alt="logo_odonto" height="50px" width="50px"></a>
            </li>
            <li><a href="../planos/index.html">Planos</a></li>
            <li><a href="../parceiros/index.html">Parceiros</a></li>
            <li><a href="../blog/index.html">Blog</a></li>
            <li><a href="../sobre_nos/index.html">Sobre Nós</a></li>
        </ul>
    </nav>
    <main>
        <section class="funcionalidade">
            <h2>Agenda Digital</h2>
            <p>Gerencie seus horários de consultas de forma prática e eficiente.</p>
        </section>
        <section class="funcionalidade">
            <h2>Gestão Financeira</h2>
            <p>Tenha controle total das suas finanças relacionadas aos serviços odontológicos.</p>
        </section>
        <section class="funcionalidade">
            <h2>Marketing Odonto</h2>
            <p>Conheça estratégias para promover sua clínica e atrair mais pacientes.</p>
        </section>
        <section class="funcionalidade">
            <h2>Prontuário Eletrônico</h2>
            <p>Mantenha os registros dos seus pacientes de forma segura e acessível.</p>
        </section>
        <section class="funcionalidade">
            <h2>Harmonização Orofacial</h2>
            <p>Descubra como a estética facial pode complementar seu tratamento odontológico.</p>
        </section>
    </main>
</body>
</html>