<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Odonto</title>
    <link rel="stylesheet" href="../sobre_nos/index.css">
    <link rel="icon" type="image/png" href="../../../assets/img/logo_odonto.png">
</head>
<body>
    <header>
      <h1>Clínica Odontológica</h1>
    </header>
    
    <section class="about-us">
      <h2>Sobre Nós</h2>
      <p>Somos uma equipe dedicada de profissionais da área odontológica comprometidos em fornecer o melhor atendimento para nossos pacientes.</p>
      <p>Nossa clínica está equipada com tecnologia de ponta e seguimos os mais altos padrões de higiene e segurança para garantir o conforto e a saúde de todos os nossos pacientes.</p>
    </section>
    
    <footer>
      <p>&copy; 2024 Clínica Odontológica. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>