<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empresas Parceiras</title>
    <link rel="stylesheet" href="../parceiros/index.css">
    <link rel="icon" type="image/png" href="../../../assets/img/logo_odonto.png">
</head>
<body>
    <header>
      <h1>Parceiros</h1>
      <nav>
        <ul>
          <li><a href="../index.html">Home</a></li>
          <li><a href="../sobre_nos/index.html">Sobre</a></li>
          <li><a href="../../agendamento/index.html">Agendamento</a></li>
        </ul>
      </nav>
    </header>
  
    <div class="container">
      <section class="partner">
        <h2>Empresa TechX</h2>
        <img src="../../../assets/img/techx_logo.png" alt="Logo TechX" width="75px" height="75px" >
        <p>A TechX é uma empresa líder em desenvolvimento de software e soluções de TI. Nossa parceria com eles nos permite oferecer aos nossos clientes as últimas tecnologias em saúde digital e sistemas de gerenciamento de clínicas.</p>
      </section>
    
      <section class="partner">
        <h2>Consultoria IT Solutions</h2>
        <img src="../../../assets/img/consultoria_it_logo.png" alt="Logo Consultoria IT Solutions" width="75px" height="75px">
        <p>A Consultoria IT Solutions é especializada em consultoria de TI e serviços de infraestrutura. Com sua expertise, podemos garantir a segurança e eficiência dos nossos sistemas de informação e proteção de dados dos pacientes.</p>
      </section>
    </div>    
  
    <footer>
      <p>&copy; 2024 Clínica Odontológica. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>