<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    <link rel="stylesheet" href="../blog/index.css">
    <link rel="icon" type="image/png" href="../../assets/img/logo_odonto.png">
</head>
<body>
    <header>
      <h1>Odonto Blog</h1>
      <nav>
        <ul>
            <li><a href="../index.html">Home</a></li>
            <li><a href="../planos/index.html">Planos</a></li>
            <li><a href="../parceiros/index.html">Parceiros</a></li>
            <li><a href="../sobre_nos/index.html">Sobre Nós</a></li>
        </ul>
      </nav>
    </header>
  
    <div class="container">

        <section class="post">
          <h2>Como manter uma boa saúde bucal</h2>
          <p>Manter uma boa saúde bucal é essencial para o bem-estar geral. Certifique-se de escovar os dentes pelo menos duas vezes ao dia, usar fio dental diariamente e visitar o dentista regularmente para check-ups e limpezas.</p>
        </section>
    
        <section class="post">
          <h2>Os benefícios do clareamento dental</h2>
          <p>O clareamento dental pode melhorar significativamente a aparência do seu sorriso, aumentando sua confiança e autoestima. No entanto, é importante realizar o procedimento sob a supervisão de um dentista para garantir resultados seguros e eficazes.</p>
        </section>
    
        <section class="post">
          <h2>Como escolher a escova de dentes certa</h2>
          <p>Existem várias opções de escovas de dentes no mercado, mas nem todas são adequadas para todos. Ao escolher uma escova de dentes, opte por uma com cerdas macias e cabeça pequena para garantir uma limpeza eficaz e confortável.</p>
        </section>

      </div>
  
    <footer>
      <p>&copy; 2024 Meu Blog. Todos os direitos reservados.</p>
    </footer>
  </body>
</html>