<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../planos/index.css">
    <link rel="icon" type="image/png" href="../../../assets/img/logo_odonto.png">
    <title>Planos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../index.html">Home</a></li>
                <li><a href="../parceiros/index.html">Parceiros</a></li>
                <li><a href="../blog/index.html">Blog</a></li>
                <li><a href="../sobre_nos/index.html">Sobre Nós</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <section class="content-block">
            <h2>Odonto atingiu 1 milhão de vidas!</h2>
            <p>Ajude a prevenir as tentativas de fraudes contra seu plano odontológico. Clique no banner e saiba mais!</p>
            <button>Já sou cliente</button>
            <button>Quero contratar</button>
        </section>
    
        <section class="content-block">
            <a href="../planos/index.html">
                <img src="../../../assets/img/fraude.jpg" alt="Imagem teste" class="img-content">
            </a>
        </section>
    </div>

    <div class="carousel">
        <input type="radio" id="card1" name="card" checked>
        <input type="radio" id="card2" name="card">
        <input type="radio" id="card3" name="card">
        <input type="radio" id="card4" name="card">
        <input type="radio" id="card5" name="card">
        <input type="radio" id="card6" name="card">
        
        <div class="carousel-inner">
            <div class="carousel-card">
                <div class="card">
                    <div class="content">
                        <div class="title">Unimed Odonto</div>
                        <div class="type">Essencial</div>
                        <div class="price2">A partir de</div>
                        <div class="price">R$43,00/mês</div>
                        <div class="description">O plano odontológico de alta qualidade para você e sua família.</div>
                        <div class="description">Pelo preço de um único tratamento você pode ter um plano odontológico com cobertura em todo Brasil! </div>
                        <button> Button</button>
                    </div>
                </div>
            </div>
            <div class="carousel-card">
                <div class="card">
                    <div class="content">
                        <div class="title">Unimed Odonto</div>
                        <div class="type">Essencial Plus</div>
                        <div class="price2">A partir de</div>
                        <div class="price">R$45,50/mês</div>
                        <div class="description">O plano odontológico de alta qualidade para você e sua família.</div>
                        <div class="description">Pelo preço de um único tratamento você pode ter um plano odontológico sem limites de utilização nas especialidades cobertas </div>
                        <button> Button</button>
                    </div>
                </div>
            </div>
            <div class="carousel-card">
                <div class="card">
                    <div class="content">
                        <div class="title">Unimed Odonto</div>
                        <div class="type">Pleno</div>
                        <div class="price2">A partir de</div>
                        <div class="price">R$58,80/mês</div>
                        <div class="description">O plano odontológico de alta qualidade para você e sua família.</div>
                        <div class="description">Pelo preço de um único tratamento você pode ter um plano odontológico com Rol ANS Ampliado + Complementares de Prótese </div>
                        <button> Button</button>
                    </div>
                </div>
            </div>
            <div class="carousel-card">
                <div class="card">
                    <div class="content">
                        <div class="title">Unimed Odonto</div>
                        <div class="type">SorriIA</div>
                        <div class="price2">A partir de</div>
                        <div class="price">R$34,90/mês</div>
                        <div class="description">Jornada 100% digital da aquisição do plano ao acompanhamento do tratamento.</div>
                        <div class="description">Rede Exclusiva, Rol mínimo + Cobertura extra Rol. *Plano exclusivo para a cidade de Guarulhos-SP</div>
                        <button> Button</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <body>
        
    
    <div class="carousel-nav">
        <label for="card1"></label>
        <label for="card2"></label>
        <label for="card3"></label>
    </div>
    
    <footer>
      <p>&copy; 2024 Clínica Odontológica. Todos os direitos reservados.</p>
    </footer>

</body>
</body>
</html>
