<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../planos/index.css">
    <link rel="icon" type="image/png" href="../../../assets/img/logo_odonto.png">
    <title>Planos</title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="../home/index.html">Home</a></li>
                <li><a href="../home/parceiros/index.html">Parceiros</a></li>
                <li><a href="../home/blog/index.html">Blog</a></li>
                <li><a href="../home/sobre_nos/index.html">Sobre Nós</a></li>
            </ul>
        </nav>
    </header>
    <div class="content">
        <section class="content-block">
            <h2>Odonto atingiu 1 milhão de vidas!</h2>
            <p>Ajude a prevenir as tentativas de fraudes contra seu plano odontológico. Clique no banner e saiba mais!</p>
            <button>Já sou cliente</button>
            <button>Quero contratar</button>
        </section>
    
        <section class="content-block">
            <a href="../planos/index.html">
                <img src="../../../assets/img/fraude.jpg" alt="Imagem teste" class="img-content">
            </a>
        </section>
    </div>

    <div class="carousel">
        <input type="radio" id="card1" name="card" checked>
        <input type="radio" id="card2" name="card">
        <input type="radio" id="card3" name="card">
        <input type="radio" id="card4" name="card">
        <input type="radio" id="card5" name="card">
        <input type="radio" id="card6" name="card">
        
        <div class="carousel-inner">
            <div class="carousel-card">
                <div class="card">
                    <div class="content">
                      <div class="title">Unimed Odonto</div>
                      <div class="price">Essencial</div>
                      <div class="price">A partir de</div>
                      <div class="price">43,00/mês</div>
                      <div class="description">O plano odontológico de alta qualidade para você e sua família.</div>
                      <div class="description">Pelo preço de um único tratamento você pode ter um plano odontológico com cobertura em todo Brasil! </div>

                    </div>
                      <button>
                        Buy now
                      </button>
                </div>
            </div>
            <div class="carousel-card">
                <div class="card">
                    <div class="content">
                      <div class="title">Personal edition</div>
                      <div class="price">$40.99</div>
                      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
                    </div>
                      <button>
                        Buy now
                      </button>
                </div>
            </div>
            <div class="carousel-card">
                <div class="card">
                    <div class="content">
                      <div class="title">Personal edition</div>
                      <div class="price">$50.99</div>
                      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
                    </div>
                      <button>
                        Buy now
                      </button>
                </div>
            </div>
            <div class="carousel-card">
                <div class="card">
                    <div class="content">
                      <div class="title">Personal edition</div>
                      <div class="price">$60.99</div>
                      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
                    </div>
                      <button>
                        Buy now
                      </button>
                </div>
            </div>
            <div class="carousel-card">
                <div class="card">
                    <div class="content">
                      <div class="title">Personal edition</div>
                      <div class="price">$70.99</div>
                      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
                    </div>
                      <button>
                        Buy now
                      </button>
                </div>
            </div>
            <div class="carousel-card">
                <div class="card">
                    <div class="content">
                      <div class="title">Personal edition</div>
                      <div class="price">$80.99</div>
                      <div class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur at posuere eros. Interdum et malesuada fames ac ante ipsum primis in faucibus.</div>
                    </div>
                      <button>
                        Buy now
                      </button>
                </div>
            </div>
        </div>
        
        <div class="carousel-nav">
            <label for="card1"></label>
            <label for="card2"></label>
            <label for="card3"></label>
            <label for="card4"></label>
            <label for="card5"></label>
        </div>
    </div>

    <footer>
      <p>&copy; 2024 Clínica Odontológica. Todos os direitos reservados.</p>
    </footer>
</body>
</html>
